# example config
#   - interpolating 1/sigma_crit for each source created from p(z)
#   - reduced style shear ellipticities
#   - no quadrant mask flags

# cosmology parameters
H0      = 70
omega_m = 0.3

# nside for healpix
healpix_nside = 64

# masking style, for quadrant cuts. "none" "sdss", "equatorial"
mask_style = "none"

# shear style
#  "reduced": ordinary reduced shear, source catalog rows are like
#      ra dec g1 g2 weight ...
#  "lensfit": for lensfit with sensitivities
#      ra dec g1 g2 g1sens g2sens weight ...

shear_style = "reduced"

# number of logarithmically spaced radial bins to use
nbin = 21

# min and max radius in Mpc
rmin = 0.02
rmax = 35.15

# sigma crit style
#  "point": using source z as truth. Implies the last column in source cat is z
#  "interp": Interpolate 1/sigmacrit (created from full P(z). 
#     Implies last N columns in source cat are \Sigma_{crit}(zlens)_i

sigmacrit_style = "point"
